.form{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1.2s ease-in-out;
    transition-delay: 0.1s;
    transform: translateX(-2000px); 
    box-shadow: 0px 0px 8px 3px rgb(100, 172, 100);
    border-radius: 7px;
    margin-bottom: 8px;
}
.active{
        transform: translateY(0px);
        top:90px
}
.form input{
    padding: 15px;
    margin: 10px;
    width: 65%;
    border: none;
    outline: none;
    border-bottom: 2.5px solid rgba(1, 209, 105, 0.884);
    border-radius: 7px;
    background: rgb(245, 249, 252);
    color: tomato;
    font-weight: bold;
    
}
.form .save{
    background: lightgreen;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.8rem;
    transition: all 1s ease-in-out;
}
.form .edit{
    background: lightgreen;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3rem;
    transition: all 1s ease-in-out;
}
.form .savet:hover{
background: #000;
color:#fff
}
.form .edit:hover{
background: #000;
color:#fff
}
.hedin{
    display: none;
}
.show{
    display: block;
}
.hand__update__save{
    display: flex;
    align-items: center;
}
.hand{
    color: #000 !important;
}