.header{
    display: flex;
    justify-content:space-evenly;
    width: 70%;
     margin: 10px;
    border-radius: 7px;
     border: 2px solid rgb(172, 165, 165);
}
.content{
    color: rgb(219, 38, 38);
}
.header h3 ,button{
    padding: 10px;
    margin: 5px;
    font-size: 1.5rem;
}
.header button{
     border-radius: 7px;
     border: none;
      cursor: pointer;
      font-weight: bold;
      background: lightgreen;
}