.header{
    display: flex;
    justify-content:space-around;
    width: 70%;
    /* background-color: rgb(235, 233, 233); */
     margin: 10px;
    border-radius: 7px;
     border: 1px solid #eee;
}
.header h3 ,button{
    padding: 20px;
    margin: 5px;
}
.header button{
     border-radius: 7px;
     border: none;
      cursor: pointer;
      font-weight: bold;
      background: lightgreen;
}